<section id="about" class="page-section">
  <div class="wrapper">
    <h1 class="section-title">About Women Techmakers</h1>

    <div class="inner-wrapper">
      <p>Google believes diversity and inclusion is important for thriving vibrant communities. Focusing on women-inclusion is the first step in a larger effort to diversify the global Google developer community. The GDG Philippines community has shown great interest in this initiative, starting with GDG DevFest Women 2013, Women Techmakers 2014, and Women Techmakers 2015.</p>

      <p>Women Techmakers is Google's brand and global program for women in technology. Women Techmakers provides visibility, community, and resources for women in technology to drive innovation and participation in the field. Women Techmakers events are designed to promote an environment of inclusivity for women in technology, as well as celebrate women leading the industry. We want to advance, grow, and celebrate women developers, designers, and technology entrepreneurs.</p>

      <p>WTM Extended Cebu 2017 will be held at the <strong>CAP Theater</strong> on <strong>April 1, 2017</strong>.</p>
    </div>

    <img class="venue-map" src="{{ map }}" alt="Map to event venue">
  </div>
</section>
